<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="web.ui">
    <test name="all">
        <classes>
            <class name="com.wsi.fnf.ui.automation.test.LoginPageTest"></class>
            <class name="com.wsi.fnf.ui.automation.test.FieldAndFacilitiesPageNavigationTest"></class>
            <class name="com.wsi.fnf.ui.automation.test.AddNotamTest"></class>
            <class name="com.wsi.fnf.ui.automation.test.DiscardAddNotamTest"></class>
            <class name="com.wsi.fnf.ui.automation.test.DuplicateNotamTest"></class>
            <class name="com.wsi.fnf.ui.automation.test.UpdateNotamTest"></class>
            <class name="com.wsi.fnf.ui.automation.test.NotamSortingFunctionalityTest"></class>
        </classes>
    </test>
</suite>